@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: small-caps;
}

abbr.name{
	white-space: nowrap;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

footer{
	margin-top: 1em;
	text-align: left;
}

[epub|type~="z3998:salutation"],
.signature{
	font-variant: small-caps;
}

.card header p{
	text-align: left;
}

.card{
	border: 1px solid;
	padding: 2em;
	text-align: center;
}

.card p{
	text-indent: 0;
}

b{
	font-variant: small-caps;
}

.card footer p:last-child{
	text-align: right;
}
